center {
  position: relative;
  left: 50%;
  transform: translateY(-50%);
}

.Collapsible>span, .Collapsible div{
  cursor: pointer;
}

#ittweb-accelasearch-bar-container{
  /* height: 100%;
  height: -moz-available; */
  height: -webkit-fill-available;
  /* height: fill-available; */
  width: 100%;
  display:none;
  background: white;
  min-width:1000px;
  opacity:0;
  position: absolute;
  top:0;
  transition: all .2s ease-in-out;
}

#ittweb-accelasearch-bar-container.appear{
  display:flex;
  opacity:1;
}

.layer-container{
  margin-top: 50px;
  display: flex;
}

.search-bar{
  position: relative;
  width: 100%;
  height: 75px;
  /* left:50%; */
  font-size: 50px;
  /* transform: translateX(-50%); */
  border: solid 1px gray;
  margin-top: 10px;
  transition: all .5s ease-in-out;
}

.close{
  position: absolute !important;
  right: 0 !important;
  font-size: 75px !important;
  margin-top: 10px !important;
  margin-right: 10px !important;
  cursor: pointer !important;
}

.delete-active-filter{
  cursor: pointer !important;
  right: 30px;
  position: absolute !important;
  font-size: 33px !important;
}

.active-filter-tag {
  height: 60px;
  display: flex;
  color: white;
  background-color: #4f8fed;
  margin-top: 10px;
  border-radius: 10px;
  align-items: center;
}

.active-filter-tag .title{
  font-size: 25px;
  font-weight: bold;
  margin-left: 13px;
}

.active-filter-tag .value{
  margin-left: 10px;
  font-size: 24px;
}

.filter {
  position: absolute !important;
  left: 0 !important;
  width: 100px;
  height: 100px;
  margin-top: 5px !important;
  margin-left: 10px !important;
  cursor: pointer !important;
}

.results-container{
  margin-top:150px;
  position: absolute;
  width: 100%;
  display: block;
  flex-wrap: wrap;
  /* height: fit-content; */
}

.single-column{
  position: absolute;
  left:50%;
  width: 75%;
  transform: translateX(-50%);
}

.results-container-header{
  display:flex;
  height: 100px;
  align-items: center;
  font-size: 25px;
}

.results-container-header>.results-number{
  margin-left: 50px;
  color:#4f8fed;
  font-weight: 600;
}

.results-container-header>.results-label{
  margin-left: 5px;
  color:gray;
}

.results-container-header>.results-order{
  width: 45%;
  right: 25px;
  position: absolute;
}

.results-container-header>.results-order>div>div:nth-child(3){
  display: none !important;
}

.results-container-header>.results-order svg{
  fill: black !important;
}

.double-column{
  position: absolute;
  left:50%;
  width: 90%;
  transform: translateX(-50%);
}

.product-list-item{
  width: 90%;
  height: 300px;
  margin: 50px;
  border: solid 1px lightgray;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  transform:scale(1);
  transition: all .2s ease-in-out;
}

.single-column>.product-grid-item{
  width: 100%;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  cursor: pointer;
  transform:scale(1);
  transition: all .2s ease-in-out;
  margin: 15px;
}

.pair-product-container>.product-grid-item{
  width: 50%;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  cursor: pointer;
  transform:scale(1);
  transition: all .2s ease-in-out;
  margin: 15px;
}

.pair-product-container{
  display: flex;
}

/*.single-column>.product-grid-item card .image{
  width: 250px;
  height: 250px;
}*/

/* .pair-product-container .product-grid-item card .image{
  width: 75%;
} */

.product-list-item:hover, .product-grid-item:hover{
  transform:scale(1.05);
}

.rangeslider-horizontal .rangeslider__fill{
  background: red;
}

.rangeslider-horizontal .rangeslider__handle:after{
  display: none;
}

.slider-container{
  height: 50px;
  display: flex;
  align-items: center;
} 

.range{
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.Collapsible__trigger.is-open, .Collapsible__contentInner>div.selected{
  font-weight: bold;
}

.rc-collapse-header{
  cursor: pointer;
}

.rc-slider-handle{
  margin-left: -18px !important;
  margin-top: -13px !important;
  width: 40px !important;
  height: 40px !important;
}

.rc-slider{
  height: 30px !important;
}

.rc-slider-rail, .rc-slider-track{
  height: 15px !important;
}

button.toggle-list{
  z-index: 1;
  position: absolute;
  top: 50px;
}

.radio-item>div{
  align-items: center;
  /* margin-top: 10px;
   height: 50px !important; */
}

.radio-item{
  margin-top: 10px;
}

.checkbox-container{
  margin-top: 10px;
  height: 50px;
  display: flex;
  align-items: center;
}

.expand-item{
  cursor:pointer;
  left:50%;
  transform:translateX(-50%);
  margin-top:7px
}

/*.active-filters-header .rc-collapse-content{
  background-color: #4f8fed !important;
}*/

.active-filters-header .rc-collapse-header{
  background-color: #4f8fed !important;
  color: white !important;
  
}

/*.active-filters-container{
  transition: all .2s ease-in-out;
}*/

/*.active-filter-tag{
  border: solid 1px black;
  transition: all .2s ease-in-out;
  border-radius: 10px;
  cursor:pointer;
}*/

.checkbox-container>div>span, .radio-container>div>span{
  position: absolute;
  right: 10%;
  font-size: 20px;
}

.mat-checkbox-inner-container {
  height: 50px!important;
  width: 50px!important;
}

.filter-icon{
  font-size: 75px !important;
}

.filter-container {
  position: absolute;
  background-color: black;
  left: 0;
  top: 0;
  transition: all .5s ease-in-out;
  /* transition: all .5s cubic-bezier(0, .52, 0, 1); */
  width: 100%;
  z-index: 1002;
} 

.filter-container.show {
  transform: translate3d(0, 0, 0);
}

.filter-container.hide {
  transform: translate3d(-100%, 0, 0);
}

.filter-overlay{
  width:90% !important;
  opacity:1 !important;
  background-color: white !important;
}

.center-column{
  width: 90%;
  position: relative !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.remove-active-filters{
  position: absolute;
  cursor: pointer;
  right: 0;
  font-size: 20px;
  color: rgb(79, 143, 237);
  margin-top: -5%;
}

.filter-title{
  position: relative;
  background: white;
  border: none;
  height: 50px;
  font-weight: bold;
  font-size: 40px;
  margin-left: 5%;
  padding-top: 10px;
  margin-bottom: 20px;
}

.Oval {
  z-index: 1;
  position: absolute;
  right: 0px;
  width: 40px;
  height: 40px;
  margin-top: -3px;
  margin-right: 10px;
  background-color: #306ccc;
  border: solid 2px #306ccc;
  border-radius: 40px;
  color: white;
  font-size: 10px;
  font-weight: 500;
}

.Oval>span{
  font-size: 30px;
  position: absolute;
  margin-left: 9px;
}

.rc-collapse-item{
  border: solid 2px #d9d9d9 !important;
  margin-top: 2%;
  border-radius: 4px;
}

.rc-collapse > .rc-collapse-item-active > .rc-collapse-header .arrow,.rc-collapse > .rc-collapse-item > .rc-collapse-header .arrow{
  display: none !important;
}

.rc-collapse-header{
  padding-top: 15px !important;
  font-size: 30px !important;
  height: 75px !important;
  font-weight: bold !important;
  /* background-color: #0080ff; */
  background-color: white !important;
  color: black !important;
}

.rc-collapse{
  background-color: white !important;
  border-radius: 0px !important;
  border: none !important;
}

.header{
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 1001;
  background-color: white;
  transition: all .5s ease-in-out;
}

.single-column .product-grid-item>.name {
  font-weight: 600;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 40px;
}

.product-list-item .name {
  font-weight: 600;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 40px;
}

.product-list-item .dv-star-rating{
  margin-left: 40px;
  width: 150px;
  font-size: 30px;
}

.double-column .product-grid-item>.name {
  font-weight: 600;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 30px;
}

.horizontal-scroll{
  background: linear-gradient(to right, white , rgb(209, 209, 209), white);
  margin-left: 50%;
  width: 90%;
  height: 75px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 100px;
  display: flex;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
}

.horizontal-scroll>div{
  font-size: 30px;
  color:#306ccc;
  height: 30px;
  align-items: center;
  display: flex;
  border-right: solid 1px gray;
  margin-left: 10px;
  padding-right: 10px;
}

.single-column .dv-star-rating{
  margin-left: 40px;
  width: 150px;
  font-size: 30px;
}

.double-column .dv-star-rating{
  margin-left: 20px;
  width: 150px;
  font-size: 30px;
}

.single-column .product-grid-item>img{
  width: 500px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.double-column .product-grid-item>img{
  width: 250px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
.product-list-item .card-footer{
  width: 60%;
  background-color:white !important;
  display: flex;
  align-items: center;
  border:none !important;
  position: absolute;
  bottom: 0;
  right: 0;
}

.product-grid-item .card-footer{
  background-color:white !important;
  display: flex;
  align-items: center;
  border:none !important;
}

.product-list-item .card-footer>.price{
  font-size: 40px;
  font-weight: 600;
  margin-right: 30px;
}

.footer-half-container{
  width:50%;
}

.single-column .card-footer>.price{
  width: 75%;
  font-size: 40px;
  font-weight: 600;
  margin-left: 50px;
}

.double-column .card-footer>.price{
  width: 75%;
  font-size: 30px;
  font-weight: 600;
  margin-left: 20px;
}

.product-list-item .card-footer>.cart-button{
  width: 60%;
  font-size: 30px;
  font-weight: 600;
  height: 40px;
  background: white;
  border-radius: 10px;
  border: solid 2px black;
  cursor: pointer;
}

.product-grid-item .card-footer>.cart-button{
  width: 75%;
  font-size: 25px;
  font-weight: 600;
  height: 40px;
  background: white;
  border-radius: 10px;
  border: solid 2px black;
  cursor: pointer;
}

.material-icons.mic{
  color: black !important;  
  position: absolute !important;
  font-size: 70px !important;
  right: 5px;
  top: 13px;
  cursor: pointer;
}

.search-bar-container {
  position: absolute;
  width: 75%;
  height: 75px;
  left: 50%;
  transform: translateX(-50%);
  transition: all .5s ease-in-out;
}

.layout-icons{
  font-size: 60px;
}

.layout-icons>.fonticon{
  width: 30% !important;
}

.layout-icons>svg{
  width: 30% !important;
  margin-left: 5%;
}

.layout-icons .material-icons{
  font-size: 75px !important;
  left:50%;
  transform: translateX(-50%);
}

.sound-wave{
  display:none;
  margin-top: 10%;
  width: 100%;
}