:focus{
  outline: none !important;
}

center {
  position: relative;
  left: 50%;
  transform: translateY(-50%);
}

.Collapsible>span, .Collapsible div{
  cursor: pointer;
}

#ittweb-accelasearch-bar-container{
  /* height: 100%;
  height: -moz-available; */
  height: -webkit-fill-available;
  /* height: fill-available; */
  width: 100%;
  display:none;
  background: white;
  min-width:1000px;
  opacity:0;
  position: absolute;
  top:0;
  transition: all .2s ease-in-out;
}

#ittweb-accelasearch-bar-container.appear{
  display:flex;
  opacity:1;
}

.layer-container{
  margin-top: 50px;
  display: flex;
}

.search-bar{
  position: relative;
  width: 100%;
  height: 75px;
  /* left:50%; */
  font-size: 50px;
  /* transform: translateX(-50%); */
  border: solid 1px gray;
  margin-top: 10px;
  transition: all .5s ease-in-out;
}

.close{
  position: absolute !important;
  right: 0 !important;
  font-size: 75px !important;
  margin-top: 10px !important;
  margin-right: 10px !important;
  cursor: pointer !important;
}

.delete-active-filter{
  cursor: pointer !important;
  right: 30px;
  position: absolute !important;
  font-size: 33px !important;
}

.active-filter-tag {
  height: 60px;
  display: flex;
  color: white;
  background-color: #4f8fed;
  margin-top: 10px;
  border-radius: 10px;
  align-items: center;
}

.active-filter-tag .title{
  font-size: 25px;
  font-weight: bold;
  margin-left: 13px;
}

.active-filter-tag .value{
  margin-left: 10px;
  font-size: 24px;
}

.filter {
  position: absolute !important;
  left: 0 !important;
  width: 100px;
  height: 100px;
  margin-top: 5px !important;
  margin-left: 10px !important;
  cursor: pointer !important;
}

.results-container{
  position: absolute;
  width: 100%;
  display: block;
  flex-wrap: wrap;
  /* height: fit-content; */
}

.single-column{
  position: absolute;
  left:50%;
  width: 75%;
  transform: translateX(-50%);
}

.results-container-header{
  display:flex;
  height: 100px;
  align-items: center;
  font-size: 25px;
}

.results-container-header>.results-number{
  margin-left: 50px;
  color:#4f8fed;
  font-weight: 600;
}

.results-container-header>.results-label{
  margin-left: 5px;
  color:gray;
}

.results-container-header>.results-order{
  width: 45%;
  right: 25px;
  position: absolute;
}

.results-container-header>.results-order>div>div:nth-child(3){
  display: none !important;
}

.results-container-header>.results-order svg{
  fill: black !important;
}

.double-column{
  position: absolute;
  left:50%;
  width: 90%;
  transform: translateX(-50%);
}

.product-list-item{
  width: 90%;
  height: 300px;
  margin: 50px;
  border: solid 1px lightgray;
  border-radius: 10px;
  cursor: pointer;
  transform:scale(1);
  /* transition: all .2s ease-in-out; */
}

.product-list-item:not(.selected) .description{
  display: none;
}

.product-list-item.selected{
  height: auto !important;
}

.product-list-item.card {
  height: 370px;
  margin-top: 100px;
}

.product-list-item.card>.close{
  display:none !important;
}

.selected.product-list-item.card>.close{
  display:block !important;
}

.single-product-container>.product-grid-item>.close{
  display: none !important;
}

.single-product-container.selected>.product-grid-item>.close{
  display: block !important;
}

.product-counter {
  right: 30px;
  position: absolute;
  top: 100px;
  background-color: #4f8fed;
  border-radius: 30px;
  height: 50px;
  width: 50px;
  color: white;
  font-size: 25px;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 6px;
}

.single-column>.product-grid-item{
  width: 100%;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  cursor: pointer;
  transform:scale(1);
  /* transition: all .2s ease-in-out; */
  margin: 15px;
}

.pair-product-container .card {
  height: 550px;
}

.pair-product-container>.selected {
  width: 100% !important;
  opacity: 1;
  height: auto !important;
  display: -webkit-box !important;
  overflow-x: auto;
}

.selected .product-grid-item{
  position: relative !important;
}

.pair-product-container .selected .product-grid-item, .slick-list .product-grid-item{
  height: auto !important;
}

.pair-product-container .selected .sub-products{
  width: 97%;
}

.pair-product-container .not-selected {
  width: 0 !important;
  opacity: 0;
}

.pair-product-container .product-grid-item{
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  cursor: pointer;
  transform:scale(1);
  transition: all .2s ease-in-out;
  margin: 15px;
}

.pair-product-container{
  display: flex;
  margin-top: 10px;
}

.pair-product-container>.slick-slider .product-grid-item{
  margin-right: 0px !important;
  margin-left: 0px !important;
}

/*.product-grid-item.card{
  width: 90vw !important;
}*/

.slick-list{
  width: 88vw;
}

.slick-dots li {
  pointer-events: none;
  width: 30px !important;
}

.slick-dots li button:before{
  font-size: 20px !important;
  margin-top: 10px !important;
}

.slick-dots li.slick-active button:before {
  font-size: 25px !important;
  opacity: 1 !important;
  color: #4f8fed !important; 
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: .25 !important; 
}

/*.single-column>.product-grid-item card .image{
  width: 250px;
  height: 250px;
}*/

/* .pair-product-container .product-grid-item card .image{
  width: 75%;
} */

/*.product-list-item:hover, .product-grid-item:hover{
  transform:scale(1.05);
}*/

.rangeslider-horizontal .rangeslider__fill{
  background: red;
}

.rangeslider-horizontal .rangeslider__handle:after{
  display: none;
}

.slider-container{
  height: 50px;
  display: flex;
  align-items: center;
} 

.range{
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.Collapsible__trigger.is-open, .Collapsible__contentInner>div.selected{
  font-weight: bold;
}

.rc-collapse-header{
  cursor: pointer;
}

.rc-slider-handle{
  margin-left: -18px !important;
  margin-top: -13px !important;
  width: 40px !important;
  height: 40px !important;
}

.rc-slider{
  height: 30px !important;
}

.rc-slider-rail, .rc-slider-track{
  height: 15px !important;
}

button.toggle-list{
  z-index: 1;
  position: absolute;
  top: 50px;
}

.radio-item>div{
  align-items: center;
  /* margin-top: 10px;
   height: 50px !important; */
}

.radio-item{
  margin-top: 10px;
}

.checkbox-container{
  margin-top: 10px;
  height: 50px;
  display: flex;
  align-items: center;
}

.expand-item{
  cursor:pointer;
  left:50%;
  transform:translateX(-50%);
  margin-top:7px
}

/*.active-filters-header .rc-collapse-content{
  background-color: #4f8fed !important;
}*/

.active-filters-header .rc-collapse-header{
  background-color: #4f8fed !important;
  color: white !important;
  
}

/*.active-filters-container{
  transition: all .2s ease-in-out;
}*/

/*.active-filter-tag{
  border: solid 1px black;
  transition: all .2s ease-in-out;
  border-radius: 10px;
  cursor:pointer;
}*/

.checkbox-container>div>span, .radio-container>div>span{
  position: absolute;
  right: 10%;
  font-size: 20px;
}

.mat-checkbox-inner-container {
  height: 50px!important;
  width: 50px!important;
}

.filter-icon{
  font-size: 75px !important;
}

.filter-container {
  position: absolute;
  background-color: black;
  left: 0;
  top: 0;
  transition: all .5s ease-in-out;
  /* transition: all .5s cubic-bezier(0, .52, 0, 1); */
  width: 100%;
  z-index: 1002;
  height: 100%;
} 

.filter-container.show {
  transform: translate3d(0, 0, 0);
}

.filter-container.hide {
  transform: translate3d(-100%, 0, 0);
}

.filter-overlay{
  width:90% !important;
  opacity:1 !important;
  background-color: white !important;
  padding-bottom: 50px;
  height: 100%;
  overflow: auto;
}

.center-column{
  width: 90%;
  position: relative !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.remove-active-filters{
  position: absolute;
  cursor: pointer;
  right: 0;
  font-size: 20px;
  color: rgb(79, 143, 237);
  margin-top: -5%;
}

.filter-title{
  position: relative;
  background: white;
  border: none;
  height: 50px;
  font-weight: bold;
  font-size: 40px;
  margin-left: 5%;
  padding-top: 10px;
  margin-bottom: 20px;
}

.Oval {
  z-index: 1;
  position: absolute;
  right: 0px;
  width: 40px;
  height: 40px;
  margin-top: -3px;
  margin-right: 10px;
  background-color: #306ccc;
  border: solid 2px #306ccc;
  border-radius: 40px;
  color: white;
  font-size: 10px;
  font-weight: 500;
}

.Oval>span{
  font-size: 25px;
  position: absolute;
  margin-left: 4px;
  margin-top: 3px;
}

.rc-collapse-item{
  border: solid 2px #d9d9d9 !important;
  margin-top: 2%;
  border-radius: 4px;
}

.rc-collapse > .rc-collapse-item-active > .rc-collapse-header .arrow,.rc-collapse > .rc-collapse-item > .rc-collapse-header .arrow{
  display: none !important;
}

.rc-collapse-header{
  padding-top: 15px !important;
  font-size: 30px !important;
  height: 75px !important;
  font-weight: bold !important;
  /* background-color: #0080ff; */
  background-color: white !important;
  color: black !important;
}

.rc-collapse{
  background-color: white !important;
  border-radius: 0px !important;
  border: none !important;
}

.header{
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 1001;
  background-color: white;
  transition: all .5s ease-in-out;
}

.single-column .product-grid-item>.name {
  font-weight: 600;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 40px;
}

.product-list-item .name {
  font-weight: 600;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 40px;
}

.product-list-item .dv-star-rating{
  margin-left: 40px;
  width: 150px;
  font-size: 30px;
}

.product-grid-item>.name {
  font-weight: 600;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 30px;
}

.horizontal-scroll{
  background: linear-gradient(to right, white , rgb(209, 209, 209), white);
  margin-left: 50%;
  width: 90%;
  height: 75px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 30px;
  display: flex;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
}

.horizontal-scroll>div{
  font-size: 30px;
  color:#306ccc;
  height: 30px;
  align-items: center;
  display: flex;
  border-right: solid 1px gray;
  margin-left: 10px;
  padding-right: 10px;
}

.single-column .dv-star-rating{
  margin-left: 40px;
  width: 150px;
  font-size: 30px;
}

.dv-star-rating{
  margin-left: 20px;
  width: 150px;
  font-size: 30px;
}

.single-column .product-grid-item>img{
  width: 500px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.product-grid-item>img{
  width: 250px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.double-column .product-grid-item.selected>img,.slick-list .product-grid-item>img{
  width: 400px !important;
}

.product-list-item.selected>.not-selected-container>.image{
  width: 0;
  height: 0;
}

.product-list-item:not(.selected)>.not-selected-container>.image{
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-top: 20px;
}

.product-list-item:not(.selected)>.image{
  width: 0;
  height: 0;
}

.product-list-item.selected>.image{
  width: 500px;
  height: 500px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.not-selected-container{
  display:flex;
}

.selected.product-list-item .description>.title,.slick-list .product-grid-item .description>.title{
  font-size: 27px;
  margin-top: 20px;
  font-weight: 600;
  margin-left: 20px;
}

.selected.product-list-item .description>.value,.slick-list .product-grid-item .description>.value{
  margin-top: 20px;
  color: gray;
  margin-left: 20px;
  font-size: 25px;
}

.short_desc>.title{
  font-size: 25px;
  font-weight: 600;
  margin-left: 20px;
  margin-top: 15px;
}

.selected .short_desc{
  display: none;
}

.short_desc>.value{
  margin-top: 10px;
  color: gray;
  margin-left: 20px;
  font-size: 22px;
}

.product-list-item .card-footer{
  width: 100%;
  background-color:white !important;
  display: flex;
  align-items: center;
  border:none !important;
  position: absolute;
  bottom: 0;
  right: 0;
}

.product-grid-item .card-footer{
  background-color:white !important;
  display: flex;
  align-items: center;
  border:none !important;
}

.product-list-item .price{
  float: right;
  font-size: 40px;
  font-weight: 600;
}

.product-list-item .price-container{
  position: absolute;
  right: 20px;
  top: 10px;
}

.selected.product-list-item .price-container{
  display:none;
}

.product-list-item .info-container{
  width: 100%;
}

.footer-half-container{
  width:50%;
}

.single-column .card-footer .price,.double-column .selected .card-footer .price{
  width: 75%;
  font-size: 40px;
  font-weight: 600;
  margin-left: 50px;
}

.card-footer .price{
  width: 75%;
  font-size: 30px;
  font-weight: 600;
  margin-left: 20px;
}

.card-footer{
  width: 100%;
  bottom: 0;
  position: absolute;
}

.card-footer .secondary-price{
  color: gray;
  width: 50%;
  font-size: 23px;
  margin-bottom: 7px;
  margin-left: 30px;
}

.slick-slide .card-footer .secondary-price{
  width: 25% !important;
}

.selected .card-footer .secondary-price{
  margin-left: 70px;
  width: 50% !important;
}

.selected .product-grid-item .card-footer .secondary-price{
  width: 25% !important;
}

.product-list-item .secondary-price{
  color: gray;
  font-size: 30px;
  margin-left: 20px;
}

.single-column .card-footer .secondary-price{
  color: gray;
  width: 25%;
  font-size: 20px;
  margin-left: 75px;
}

.product-list-item .card-footer .cart-button{
  width: 95%;
  font-size: 30px;
  font-weight: 600;
  height: 40px;
  background: white;
  border-radius: 10px;
  border: solid 2px black;
  cursor: pointer;
}

.product-grid-item .card-footer .cart-button{
  width: 50%;
  font-size: 25px;
  font-weight: 600;
  /* height: 40px; */
  background: white;
  border-radius: 10px;
  border: solid 2px black;
  cursor: pointer;
}

.material-icons.mic{
  color: black !important;  
  position: absolute !important;
  font-size: 70px !important;
  right: 5px;
  top: 13px;
  cursor: pointer;
}

.search-bar-container {
  position: absolute;
  width: 75%;
  height: 75px;
  left: 50%;
  transform: translateX(-50%);
  transition: all .5s ease-in-out;
}

.layout-icons{
  font-size: 60px;
}

.layout-icons>.fonticon{
  width: 30% !important;
}

.layout-icons>svg{
  width: 30% !important;
  margin-left: 5%;
}

.layout-icons .material-icons{
  font-size: 75px !important;
  left:50%;
  transform: translateX(-50%);
}

.sound-wave{
  display:none;
  margin-top: 10%;
  width: 100%;
}

.strikediag {
  background: linear-gradient(to left top, transparent 47.75%, lightgray 49.5%, lightgray 50.5%, transparent 52.25%);
}

.strikediag-black {
  background: linear-gradient(to left top, transparent 47.75%, black 49.5%, black 50.5%, transparent 52.25%);
}

.selected .product-grid-item .image{
  height: 500px;
  width: 500px;
}

.sub-products{
  margin: 15px;
  width: 47%;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  position: absolute;
  border: 1px solid lightgray;
  border-radius: .25rem;
  height: 400px;
}

.single-column .sub-products{
  margin: 15px;
  width: 100%;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  position: absolute;
  border: 1px solid lightgray;
  border-radius: .25rem;
  height: 400px;
}

/*.sub-products:hover{
  z-index: 6 !important;
} */

.double-column .single-product-container{
  margin-top: 50px;
}

.single-column .single-product-container{
  height: 800px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.single-product-container{
  height: 500px;
  /* transition: all .5s ease-in-out;  */
  margin-top: 200px;
}

.single-product-container:not(.selected) .description{
  display:none;
}

.selected .product-grid-item .description>.title{
  font-size: 27px;
  margin-top: 20px;
  font-weight: 600;
  margin-left: 20px;
}

.selected .product-grid-item .description>.value{
  margin-top: 20px;
  color: gray;
  margin-left: 20px;
  font-size: 25px;
}

.configurable{
  margin-top: 20px;
}

.sub-products.product-list-item.card{
    width: 90%;
    margin-top: 0;
    margin-bottom: 0;
}

.single-column .slick-slider{
  margin-left: -6%;
}

.product-list-container .slick-slider{
  margin-left:50px;
}

.product-list-container .slick-list{
  width: 95%;
}

.single-column .product-grid-item {
  height: 800px;
}

.single-column .selected .product-grid-item, .single-product-container.selected {
  height: auto !important;
}

.description{
  margin-bottom: 150px;
}

.banner{
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.banner .banner-close .material-icons{
  position: absolute !important;
  right: 20px !important;
  top: -40px !important;
  font-size: 45px !important;
  color: white !important;
  background-color: black !important;
  border-radius: 30px !important;
}

.no-results-label{
  width: 90%;
  margin-top: 100px;
  margin-left: 50px;
  font-size: 30px;
  color: lightgray;
  font-weight: 600;
}

.maybe-label {
  margin-top: 30px;
  margin-left: 50px;
  font-size: 30px;
  font-weight: 600;
  color: gray;
}

.maybe-label-no-results {
  margin-top: 30px;
  margin-left: 50px;
  font-size: 40px;
  font-weight: 600;
}

.maybe-value {
  font-size: 25px;
  width: 90%;
  margin-left: 50px;
  margin-top: 20px;
  color: #306ccc;
  font-weight: 600;
}

.maybe-value-item{
  margin: 5px;
}

.hint{
  margin-left: 50px;
  font-size: 30px;
  font-weight: 600;
  color: gray;
}

.hint>span{
  margin-right: 50px;
}

.hint>span.selected{
  color:black;
}

.star-icon-color{
  color: #306ccc;
}

.single-configuration {
  margin-top: 10px;
  font-size: 30px;
}

.single-configuration>.title {
  font-weight: 600;
  margin-left: 20px;
}

.single-configuration>.values {
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
}

.single-configuration>.values>.value {
  border: solid 3px lightgray;
  color: grey;
  margin-right: 20px;
  padding: 10px;
  height: 60px;
}

.single-configuration>.values>.value.selected {
  border: solid 3px black;
  color: black;
  font-weight: 600;
}

.product-list-item.selected .card-footer .cart-button{
  width:50%;
}

.cart-button-container .front, .cart-button-container .back{
  transition: 0.5s;
  position: absolute; 
  backface-visibility: hidden;
  right: 15px;
  bottom: 15px;
}

.cart-button.disabled {
  opacity: 0.4;
}

.cart-button.back {
  transform: rotateX(180deg);
}
.rotate .cart-button.back {
  transform: rotateX(0deg);
}
.rotate .cart-button.front {
  transform: rotateX(-180deg);
}

.grid-container,.grid-item-container{
  display: flex;
  flex-flow: row wrap;
}

.grid-item-label{
  border: solid 1px gray;
  font-size: 30px;
  margin: 10px;
  padding: 10px;
}

.grid-item-container.selected>.grid-item-label{
  border: solid 3px black;
  color: black;
}

/*.grid-item-classgriditem110.selected>.grid-item-icon{
  width: 90px;
  height: 70px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 841.9 595.3'> <g fill='%2361DAFB'> <path d='M666.3 296.5c0-32.5-40.7-63.3-103.1-82.4 14.4-63.6 8-114.2-20.2-130.4-6.5-3.8-14.1-5.6-22.4-5.6v22.3c4.6 0 8.3.9 11.4 2.6 13.6 7.8 19.5 37.5 14.9 75.7-1.1 9.4-2.9 19.3-5.1 29.4-19.6-4.8-41-8.5-63.5-10.9-13.5-18.5-27.5-35.3-41.6-50 32.6-30.3 63.2-46.9 84-46.9V78c-27.5 0-63.5 19.6-99.9 53.6-36.4-33.8-72.4-53.2-99.9-53.2v22.3c20.7 0 51.4 16.5 84 46.6-14 14.7-28 31.4-41.3 49.9-22.6 2.4-44 6.1-63.6 11-2.3-10-4-19.7-5.2-29-4.7-38.2 1.1-67.9 14.6-75.8 3-1.8 6.9-2.6 11.5-2.6V78.5c-8.4 0-16 1.8-22.6 5.6-28.1 16.2-34.4 66.7-19.9 130.1-62.2 19.2-102.7 49.9-102.7 82.3 0 32.5 40.7 63.3 103.1 82.4-14.4 63.6-8 114.2 20.2 130.4 6.5 3.8 14.1 5.6 22.5 5.6 27.5 0 63.5-19.6 99.9-53.6 36.4 33.8 72.4 53.2 99.9 53.2 8.4 0 16-1.8 22.6-5.6 28.1-16.2 34.4-66.7 19.9-130.1 62-19.1 102.5-49.9 102.5-82.3zm-130.2-66.7c-3.7 12.9-8.3 26.2-13.5 39.5-4.1-8-8.4-16-13.1-24-4.6-8-9.5-15.8-14.4-23.4 14.2 2.1 27.9 4.7 41 7.9zm-45.8 106.5c-7.8 13.5-15.8 26.3-24.1 38.2-14.9 1.3-30 2-45.2 2-15.1 0-30.2-.7-45-1.9-8.3-11.9-16.4-24.6-24.2-38-7.6-13.1-14.5-26.4-20.8-39.8 6.2-13.4 13.2-26.8 20.7-39.9 7.8-13.5 15.8-26.3 24.1-38.2 14.9-1.3 30-2 45.2-2 15.1 0 30.2.7 45 1.9 8.3 11.9 16.4 24.6 24.2 38 7.6 13.1 14.5 26.4 20.8 39.8-6.3 13.4-13.2 26.8-20.7 39.9zm32.3-13c5.4 13.4 10 26.8 13.8 39.8-13.1 3.2-26.9 5.9-41.2 8 4.9-7.7 9.8-15.6 14.4-23.7 4.6-8 8.9-16.1 13-24.1zM421.2 430c-9.3-9.6-18.6-20.3-27.8-32 9 .4 18.2.7 27.5.7 9.4 0 18.7-.2 27.8-.7-9 11.7-18.3 22.4-27.5 32zm-74.4-58.9c-14.2-2.1-27.9-4.7-41-7.9 3.7-12.9 8.3-26.2 13.5-39.5 4.1 8 8.4 16 13.1 24 4.7 8 9.5 15.8 14.4 23.4zM420.7 163c9.3 9.6 18.6 20.3 27.8 32-9-.4-18.2-.7-27.5-.7-9.4 0-18.7.2-27.8.7 9-11.7 18.3-22.4 27.5-32zm-74 58.9c-4.9 7.7-9.8 15.6-14.4 23.7-4.6 8-8.9 16-13 24-5.4-13.4-10-26.8-13.8-39.8 13.1-3.1 26.9-5.8 41.2-7.9zm-90.5 125.2c-35.4-15.1-58.3-34.9-58.3-50.6 0-15.7 22.9-35.6 58.3-50.6 8.6-3.7 18-7 27.7-10.1 5.7 19.6 13.2 40 22.5 60.9-9.2 20.8-16.6 41.1-22.2 60.6-9.9-3.1-19.3-6.5-28-10.2zM310 490c-13.6-7.8-19.5-37.5-14.9-75.7 1.1-9.4 2.9-19.3 5.1-29.4 19.6 4.8 41 8.5 63.5 10.9 13.5 18.5 27.5 35.3 41.6 50-32.6 30.3-63.2 46.9-84 46.9-4.5-.1-8.3-1-11.3-2.7zm237.2-76.2c4.7 38.2-1.1 67.9-14.6 75.8-3 1.8-6.9 2.6-11.5 2.6-20.7 0-51.4-16.5-84-46.6 14-14.7 28-31.4 41.3-49.9 22.6-2.4 44-6.1 63.6-11 2.3 10.1 4.1 19.8 5.2 29.1zm38.5-66.7c-8.6 3.7-18 7-27.7 10.1-5.7-19.6-13.2-40-22.5-60.9 9.2-20.8 16.6-41.1 22.2-60.6 9.9 3.1 19.3 6.5 28.1 10.2 35.4 15.1 58.3 34.9 58.3 50.6-.1 15.7-23 35.6-58.4 50.6zM320.8 78.4z'/> <circle cx='420.9' cy='296.5' r='45.7'/> <path d='M520.5 78.1z'/> </g></svg>");
}

.grid-item-classgriditem121.selected>.grid-item-icon{
  width: 90px;
  height: 70px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 841.9 595.3'> <g fill='%2361DAFB'> <path d='M666.3 296.5c0-32.5-40.7-63.3-103.1-82.4 14.4-63.6 8-114.2-20.2-130.4-6.5-3.8-14.1-5.6-22.4-5.6v22.3c4.6 0 8.3.9 11.4 2.6 13.6 7.8 19.5 37.5 14.9 75.7-1.1 9.4-2.9 19.3-5.1 29.4-19.6-4.8-41-8.5-63.5-10.9-13.5-18.5-27.5-35.3-41.6-50 32.6-30.3 63.2-46.9 84-46.9V78c-27.5 0-63.5 19.6-99.9 53.6-36.4-33.8-72.4-53.2-99.9-53.2v22.3c20.7 0 51.4 16.5 84 46.6-14 14.7-28 31.4-41.3 49.9-22.6 2.4-44 6.1-63.6 11-2.3-10-4-19.7-5.2-29-4.7-38.2 1.1-67.9 14.6-75.8 3-1.8 6.9-2.6 11.5-2.6V78.5c-8.4 0-16 1.8-22.6 5.6-28.1 16.2-34.4 66.7-19.9 130.1-62.2 19.2-102.7 49.9-102.7 82.3 0 32.5 40.7 63.3 103.1 82.4-14.4 63.6-8 114.2 20.2 130.4 6.5 3.8 14.1 5.6 22.5 5.6 27.5 0 63.5-19.6 99.9-53.6 36.4 33.8 72.4 53.2 99.9 53.2 8.4 0 16-1.8 22.6-5.6 28.1-16.2 34.4-66.7 19.9-130.1 62-19.1 102.5-49.9 102.5-82.3zm-130.2-66.7c-3.7 12.9-8.3 26.2-13.5 39.5-4.1-8-8.4-16-13.1-24-4.6-8-9.5-15.8-14.4-23.4 14.2 2.1 27.9 4.7 41 7.9zm-45.8 106.5c-7.8 13.5-15.8 26.3-24.1 38.2-14.9 1.3-30 2-45.2 2-15.1 0-30.2-.7-45-1.9-8.3-11.9-16.4-24.6-24.2-38-7.6-13.1-14.5-26.4-20.8-39.8 6.2-13.4 13.2-26.8 20.7-39.9 7.8-13.5 15.8-26.3 24.1-38.2 14.9-1.3 30-2 45.2-2 15.1 0 30.2.7 45 1.9 8.3 11.9 16.4 24.6 24.2 38 7.6 13.1 14.5 26.4 20.8 39.8-6.3 13.4-13.2 26.8-20.7 39.9zm32.3-13c5.4 13.4 10 26.8 13.8 39.8-13.1 3.2-26.9 5.9-41.2 8 4.9-7.7 9.8-15.6 14.4-23.7 4.6-8 8.9-16.1 13-24.1zM421.2 430c-9.3-9.6-18.6-20.3-27.8-32 9 .4 18.2.7 27.5.7 9.4 0 18.7-.2 27.8-.7-9 11.7-18.3 22.4-27.5 32zm-74.4-58.9c-14.2-2.1-27.9-4.7-41-7.9 3.7-12.9 8.3-26.2 13.5-39.5 4.1 8 8.4 16 13.1 24 4.7 8 9.5 15.8 14.4 23.4zM420.7 163c9.3 9.6 18.6 20.3 27.8 32-9-.4-18.2-.7-27.5-.7-9.4 0-18.7.2-27.8.7 9-11.7 18.3-22.4 27.5-32zm-74 58.9c-4.9 7.7-9.8 15.6-14.4 23.7-4.6 8-8.9 16-13 24-5.4-13.4-10-26.8-13.8-39.8 13.1-3.1 26.9-5.8 41.2-7.9zm-90.5 125.2c-35.4-15.1-58.3-34.9-58.3-50.6 0-15.7 22.9-35.6 58.3-50.6 8.6-3.7 18-7 27.7-10.1 5.7 19.6 13.2 40 22.5 60.9-9.2 20.8-16.6 41.1-22.2 60.6-9.9-3.1-19.3-6.5-28-10.2zM310 490c-13.6-7.8-19.5-37.5-14.9-75.7 1.1-9.4 2.9-19.3 5.1-29.4 19.6 4.8 41 8.5 63.5 10.9 13.5 18.5 27.5 35.3 41.6 50-32.6 30.3-63.2 46.9-84 46.9-4.5-.1-8.3-1-11.3-2.7zm237.2-76.2c4.7 38.2-1.1 67.9-14.6 75.8-3 1.8-6.9 2.6-11.5 2.6-20.7 0-51.4-16.5-84-46.6 14-14.7 28-31.4 41.3-49.9 22.6-2.4 44-6.1 63.6-11 2.3 10.1 4.1 19.8 5.2 29.1zm38.5-66.7c-8.6 3.7-18 7-27.7 10.1-5.7-19.6-13.2-40-22.5-60.9 9.2-20.8 16.6-41.1 22.2-60.6 9.9 3.1 19.3 6.5 28.1 10.2 35.4 15.1 58.3 34.9 58.3 50.6-.1 15.7-23 35.6-58.4 50.6zM320.8 78.4z'/> <circle cx='420.9' cy='296.5' r='45.7'/> <path d='M520.5 78.1z'/> </g></svg>");
}

.grid-item-classgriditem121.selected>.grid-item-label{
  border:none;
}

.grid-item-classgriditem121.selected{
  border: solid 3px blue;
}

.grid-item-classgriditem132.selected>.grid-item-icon{
  width: 90px;
  height: 70px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 841.9 595.3'> <g fill='%2361DAFB'> <path d='M666.3 296.5c0-32.5-40.7-63.3-103.1-82.4 14.4-63.6 8-114.2-20.2-130.4-6.5-3.8-14.1-5.6-22.4-5.6v22.3c4.6 0 8.3.9 11.4 2.6 13.6 7.8 19.5 37.5 14.9 75.7-1.1 9.4-2.9 19.3-5.1 29.4-19.6-4.8-41-8.5-63.5-10.9-13.5-18.5-27.5-35.3-41.6-50 32.6-30.3 63.2-46.9 84-46.9V78c-27.5 0-63.5 19.6-99.9 53.6-36.4-33.8-72.4-53.2-99.9-53.2v22.3c20.7 0 51.4 16.5 84 46.6-14 14.7-28 31.4-41.3 49.9-22.6 2.4-44 6.1-63.6 11-2.3-10-4-19.7-5.2-29-4.7-38.2 1.1-67.9 14.6-75.8 3-1.8 6.9-2.6 11.5-2.6V78.5c-8.4 0-16 1.8-22.6 5.6-28.1 16.2-34.4 66.7-19.9 130.1-62.2 19.2-102.7 49.9-102.7 82.3 0 32.5 40.7 63.3 103.1 82.4-14.4 63.6-8 114.2 20.2 130.4 6.5 3.8 14.1 5.6 22.5 5.6 27.5 0 63.5-19.6 99.9-53.6 36.4 33.8 72.4 53.2 99.9 53.2 8.4 0 16-1.8 22.6-5.6 28.1-16.2 34.4-66.7 19.9-130.1 62-19.1 102.5-49.9 102.5-82.3zm-130.2-66.7c-3.7 12.9-8.3 26.2-13.5 39.5-4.1-8-8.4-16-13.1-24-4.6-8-9.5-15.8-14.4-23.4 14.2 2.1 27.9 4.7 41 7.9zm-45.8 106.5c-7.8 13.5-15.8 26.3-24.1 38.2-14.9 1.3-30 2-45.2 2-15.1 0-30.2-.7-45-1.9-8.3-11.9-16.4-24.6-24.2-38-7.6-13.1-14.5-26.4-20.8-39.8 6.2-13.4 13.2-26.8 20.7-39.9 7.8-13.5 15.8-26.3 24.1-38.2 14.9-1.3 30-2 45.2-2 15.1 0 30.2.7 45 1.9 8.3 11.9 16.4 24.6 24.2 38 7.6 13.1 14.5 26.4 20.8 39.8-6.3 13.4-13.2 26.8-20.7 39.9zm32.3-13c5.4 13.4 10 26.8 13.8 39.8-13.1 3.2-26.9 5.9-41.2 8 4.9-7.7 9.8-15.6 14.4-23.7 4.6-8 8.9-16.1 13-24.1zM421.2 430c-9.3-9.6-18.6-20.3-27.8-32 9 .4 18.2.7 27.5.7 9.4 0 18.7-.2 27.8-.7-9 11.7-18.3 22.4-27.5 32zm-74.4-58.9c-14.2-2.1-27.9-4.7-41-7.9 3.7-12.9 8.3-26.2 13.5-39.5 4.1 8 8.4 16 13.1 24 4.7 8 9.5 15.8 14.4 23.4zM420.7 163c9.3 9.6 18.6 20.3 27.8 32-9-.4-18.2-.7-27.5-.7-9.4 0-18.7.2-27.8.7 9-11.7 18.3-22.4 27.5-32zm-74 58.9c-4.9 7.7-9.8 15.6-14.4 23.7-4.6 8-8.9 16-13 24-5.4-13.4-10-26.8-13.8-39.8 13.1-3.1 26.9-5.8 41.2-7.9zm-90.5 125.2c-35.4-15.1-58.3-34.9-58.3-50.6 0-15.7 22.9-35.6 58.3-50.6 8.6-3.7 18-7 27.7-10.1 5.7 19.6 13.2 40 22.5 60.9-9.2 20.8-16.6 41.1-22.2 60.6-9.9-3.1-19.3-6.5-28-10.2zM310 490c-13.6-7.8-19.5-37.5-14.9-75.7 1.1-9.4 2.9-19.3 5.1-29.4 19.6 4.8 41 8.5 63.5 10.9 13.5 18.5 27.5 35.3 41.6 50-32.6 30.3-63.2 46.9-84 46.9-4.5-.1-8.3-1-11.3-2.7zm237.2-76.2c4.7 38.2-1.1 67.9-14.6 75.8-3 1.8-6.9 2.6-11.5 2.6-20.7 0-51.4-16.5-84-46.6 14-14.7 28-31.4 41.3-49.9 22.6-2.4 44-6.1 63.6-11 2.3 10.1 4.1 19.8 5.2 29.1zm38.5-66.7c-8.6 3.7-18 7-27.7 10.1-5.7-19.6-13.2-40-22.5-60.9 9.2-20.8 16.6-41.1 22.2-60.6 9.9 3.1 19.3 6.5 28.1 10.2 35.4 15.1 58.3 34.9 58.3 50.6-.1 15.7-23 35.6-58.4 50.6zM320.8 78.4z'/> <circle cx='420.9' cy='296.5' r='45.7'/> <path d='M520.5 78.1z'/> </g></svg>");
}

.grid-item-classgriditem132.selected>.grid-item-label{
  display:none !important;
}

.grid-item-classgriditem132.selected{
  border: solid 3px green;
}

.checkbox-item.checkbox-class-roba210>div>div>div:nth-child(1)>svg:nth-child(1){
  display:none !important;
}

.checkbox-item.checkbox-class-roba210-checked>div>div>div:nth-child(1)>svg:nth-child(2){
  display:none !important;
}

.checkbox-item.checkbox-class-roba210-checked>div>div>div:nth-child(1){
  width: 60px;
  height: 40px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 841.9 595.3'> <g fill='%2361DAFB'> <path d='M666.3 296.5c0-32.5-40.7-63.3-103.1-82.4 14.4-63.6 8-114.2-20.2-130.4-6.5-3.8-14.1-5.6-22.4-5.6v22.3c4.6 0 8.3.9 11.4 2.6 13.6 7.8 19.5 37.5 14.9 75.7-1.1 9.4-2.9 19.3-5.1 29.4-19.6-4.8-41-8.5-63.5-10.9-13.5-18.5-27.5-35.3-41.6-50 32.6-30.3 63.2-46.9 84-46.9V78c-27.5 0-63.5 19.6-99.9 53.6-36.4-33.8-72.4-53.2-99.9-53.2v22.3c20.7 0 51.4 16.5 84 46.6-14 14.7-28 31.4-41.3 49.9-22.6 2.4-44 6.1-63.6 11-2.3-10-4-19.7-5.2-29-4.7-38.2 1.1-67.9 14.6-75.8 3-1.8 6.9-2.6 11.5-2.6V78.5c-8.4 0-16 1.8-22.6 5.6-28.1 16.2-34.4 66.7-19.9 130.1-62.2 19.2-102.7 49.9-102.7 82.3 0 32.5 40.7 63.3 103.1 82.4-14.4 63.6-8 114.2 20.2 130.4 6.5 3.8 14.1 5.6 22.5 5.6 27.5 0 63.5-19.6 99.9-53.6 36.4 33.8 72.4 53.2 99.9 53.2 8.4 0 16-1.8 22.6-5.6 28.1-16.2 34.4-66.7 19.9-130.1 62-19.1 102.5-49.9 102.5-82.3zm-130.2-66.7c-3.7 12.9-8.3 26.2-13.5 39.5-4.1-8-8.4-16-13.1-24-4.6-8-9.5-15.8-14.4-23.4 14.2 2.1 27.9 4.7 41 7.9zm-45.8 106.5c-7.8 13.5-15.8 26.3-24.1 38.2-14.9 1.3-30 2-45.2 2-15.1 0-30.2-.7-45-1.9-8.3-11.9-16.4-24.6-24.2-38-7.6-13.1-14.5-26.4-20.8-39.8 6.2-13.4 13.2-26.8 20.7-39.9 7.8-13.5 15.8-26.3 24.1-38.2 14.9-1.3 30-2 45.2-2 15.1 0 30.2.7 45 1.9 8.3 11.9 16.4 24.6 24.2 38 7.6 13.1 14.5 26.4 20.8 39.8-6.3 13.4-13.2 26.8-20.7 39.9zm32.3-13c5.4 13.4 10 26.8 13.8 39.8-13.1 3.2-26.9 5.9-41.2 8 4.9-7.7 9.8-15.6 14.4-23.7 4.6-8 8.9-16.1 13-24.1zM421.2 430c-9.3-9.6-18.6-20.3-27.8-32 9 .4 18.2.7 27.5.7 9.4 0 18.7-.2 27.8-.7-9 11.7-18.3 22.4-27.5 32zm-74.4-58.9c-14.2-2.1-27.9-4.7-41-7.9 3.7-12.9 8.3-26.2 13.5-39.5 4.1 8 8.4 16 13.1 24 4.7 8 9.5 15.8 14.4 23.4zM420.7 163c9.3 9.6 18.6 20.3 27.8 32-9-.4-18.2-.7-27.5-.7-9.4 0-18.7.2-27.8.7 9-11.7 18.3-22.4 27.5-32zm-74 58.9c-4.9 7.7-9.8 15.6-14.4 23.7-4.6 8-8.9 16-13 24-5.4-13.4-10-26.8-13.8-39.8 13.1-3.1 26.9-5.8 41.2-7.9zm-90.5 125.2c-35.4-15.1-58.3-34.9-58.3-50.6 0-15.7 22.9-35.6 58.3-50.6 8.6-3.7 18-7 27.7-10.1 5.7 19.6 13.2 40 22.5 60.9-9.2 20.8-16.6 41.1-22.2 60.6-9.9-3.1-19.3-6.5-28-10.2zM310 490c-13.6-7.8-19.5-37.5-14.9-75.7 1.1-9.4 2.9-19.3 5.1-29.4 19.6 4.8 41 8.5 63.5 10.9 13.5 18.5 27.5 35.3 41.6 50-32.6 30.3-63.2 46.9-84 46.9-4.5-.1-8.3-1-11.3-2.7zm237.2-76.2c4.7 38.2-1.1 67.9-14.6 75.8-3 1.8-6.9 2.6-11.5 2.6-20.7 0-51.4-16.5-84-46.6 14-14.7 28-31.4 41.3-49.9 22.6-2.4 44-6.1 63.6-11 2.3 10.1 4.1 19.8 5.2 29.1zm38.5-66.7c-8.6 3.7-18 7-27.7 10.1-5.7-19.6-13.2-40-22.5-60.9 9.2-20.8 16.6-41.1 22.2-60.6 9.9 3.1 19.3 6.5 28.1 10.2 35.4 15.1 58.3 34.9 58.3 50.6-.1 15.7-23 35.6-58.4 50.6zM320.8 78.4z'/> <circle cx='420.9' cy='296.5' r='45.7'/> <path d='M520.5 78.1z'/> </g></svg>");
} */
